.speech{font-family: sans-serif; font-size: 12px;color: black;}
.scene{font-family: sans-serif; font-size: 12px;color: green;}
.song{font-family: sans-serif; font-size: 12px;color: black;}
.CHORUS{font-family: sans-serif; font-size: 12px;color: black;}
.name{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size:15px;
    color: black;
    
}

.name:hover{
    border: solid 2px rgb(91, 53, 109);
    text-shadow: 3px 3px 3px orange;
}
.MAR{
    color: aquamarine;
}
.ALL{
    color: rgb(85, 83, 212);
}
.GIU{
    color: brown;
}
.GIORGIO{
    color:rgb(6, 95, 43)
}
.ANNIBALE{
    color: darkblue;
}
table,td,th{
    margin: 1px solid black;
    padding: 2px;
    border: 3px solid rgb(114, 113, 113);
    text-align: center;
    
}
td{
    color: rgb(136, 72, 72);
}
th{
    color:brown;
}
tr:nth-child(even){
    background-color: rgb(250, 227, 200);
}

